<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Fotos</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              
                <img class="img-portfolio img-responsive" src="img/foto-1.jpg">
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              
                <img class="img-portfolio img-responsive" src="img/foto-2.jpg">
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              
                <img class="img-portfolio img-responsive" src="img/foto-3.jpg">
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              
                <img class="img-portfolio img-responsive" src="img/foto-4.jpg">
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              
                <a href="img/planta_01.jpg" target="_blank"><img class="img-portfolio img-responsive" src="img/planta_01.jpg"></a>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              
                <a href="img/planta_02.jpg" target="_blank"><img class="img-portfolio img-responsive" src="img/planta_02.jpg"></a>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              
                <a href="img/planta_03.jpg" target="_blank"><img class="img-portfolio img-responsive" src="img/planta_03.jpg"></a>
              
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
